{% assign language = page.url | replace_first:'/','' | split:"/" | first %}
{% if site.languages contains language %}
{% else %}
  {% assign language = 'en' %}
{% endif %}

<!--nav class="navbar navbar-webmaker">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#id-collapsable-navbar" >
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars fa-lg"></span>
      </button>
      <a class="logo webmaker-logo" href="{{site.baseurl}}/en/"><img src="{{site.baseurl}}/img/training-logo.png"></a>
    </div>
  </div>
</nav-->
<nav class="navbar navbar-inverse navbar-no-header-xs collapse navbar-collapse" role="navigation" id="id-collapsable-navbar">
  <div class="container">

    <ul class="nav navbar-nav">
      
      <li {% if page.landing %}class="active"{% endif %}>
        <a class="logo webmaker-logo" href="{{site.baseurl}}/{{language}}/">About</a>
      </li>
      {% for course in site.data.course %}
        <li {% if course[0] == current_course %}class="active"{% endif %}>
          {% assign course_category=course[1].category %}
          {% assign cp=site.categories[course_category] | last %}
          <a href="{{site.baseurl}}{{ cp.url }}">{{course[1].title}}</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<li class="navbar-text">together with</li>
		<li><a href="https://p2pu.org"><img src="{{site.baseurl}}/img/p2pu-logo.png"></a></li>
		<!--<li><a href="http://webmaker.org"><img src="{{site.baseurl}}/img/webmaker-logo.png"></a></li>-->
    </ul>
    
  </div>
</nav>
<nav class="navbar navbar-inverse navbar-no-header-xs collapse navbar-collapse secondary">
<div class="container">
  <ul class="nav navbar-nav">
    {% assign course_category=page.categories[0] %}
    {% assign course=site.data.course[course_category] %}
    {% for subpage in site.categories[course.category] reversed %}
      <li class="{% if subpage.title == page.title %}active{% endif %}" > <a href="{{site.baseurl}}{{ subpage.url }}">{{subpage.title}}</a></li>
    {% endfor %}
    {% if course.category %}
      <li><a href="http://discourse.webmakerprototypes.org/category/{{course.category}}"><i class="fa fa-comments"></i> Discussion</a></li>
    {% endif %}
  </ul>
</div>
</nav>
